.chat-bot-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #201775;
    color: white;
    height: 4rem;
    font-size: 24px;
    font-weight: bolder;
}
.chat-bot-text-area{
    display: flex;
    flex-direction: row;
    border: 1px solid  black;
    align-items: center;
    margin: .5rem .5rem;
   }
.chat-input{
    width: 94%;
    height: 40px;
    outline: none;
    border: 1px solid #201775;
    border-radius: 20px;
    margin: .7rem .7rem;
    color: #201775;
    font-weight: bold;
    padding: 10px;
}
.send-btn{
    font-size: 20px;
    color: #201775;
    padding: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.send-btn:hover{
    color: white;
    transition: .2s;
    background-color: #201775;
    border-radius: 50%;
}
.history-container{
    height: 100%;
    border: 1px solid black;
    overflow-y: auto;
    background-color: aliceblue;
}
.bot-container{
    border: 0px solid black;
    width: 100%;
    min-height: 3rem;
    max-height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem 1rem;
    margin: 1.5rem 0rem;
}
.user-container{
    border: 0px solid black;
    width: 100%;
    min-height: 3rem;
    max-height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem 1rem;
    margin: 1.5rem 0rem;
}
.identify-icon{
    min-height: 3rem;
    min-width: 3rem;
    padding: .5rem;
    border: 1px solid #201775;
    margin: auto .5rem;
    border-radius: 50%;
    background-color: #201775;
    color: white;
    transition: .3s delay;
    cursor: pointer;
}
.identify-icon:hover{
    background-color: white;
    color: #201775;
}
.user-msg{
    border: 1px solid #201775;
    border-radius: 7px;
    border-top-right-radius: 0px ;
    padding: 7px 10px;
}

.bot-msg{
    border: 1px solid #201775;
    border-radius: 7px;
    border-top-left-radius: 0px;
    padding: 7px 10px;
}
